.grid,
.grid-dense {
  margin: auto;
}
.grid-dense {
  grid-auto-flow: dense;
}
.item,
.grid,
.grid-dense {
  display: grid;
}
.cols-1 {
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 15px;
}
.col-span-1 {
  grid-column: span 1;
}
.cols-2 {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
}
.col-span-2 {
  grid-column: span 2;
}
.cols-3 {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 15px;
}
.col-span-3 {
  grid-column: span 3;
}
.cols-4 {
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 15px;
}
.col-span-4 {
  grid-column: span 4;
}
.cols-5 {
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 15px;
}
.col-span-5 {
  grid-column: span 5;
}
.cols-6 {
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 15px;
}
.col-span-6 {
  grid-column: span 6;
}
.cols-7 {
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 15px;
}
.col-span-7 {
  grid-column: span 7;
}
.cols-8 {
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 15px;
}
.col-span-8 {
  grid-column: span 8;
}
.cols-9 {
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 15px;
}
.col-span-9 {
  grid-column: span 9;
}
.cols-10 {
  grid-template-columns: repeat(10, 1fr);
  margin-bottom: 15px;
}
.col-span-10 {
  grid-column: span 10;
}
.cols-11 {
  grid-template-columns: repeat(11, 1fr);
  margin-bottom: 15px;
}
.col-span-11 {
  grid-column: span 11;
}
.cols-12 {
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 15px;
}
.col-span-12 {
  grid-column: span 12;
}
.cols-13 {
  grid-template-columns: repeat(13, 1fr);
  margin-bottom: 15px;
}
.col-span-13 {
  grid-column: span 13;
}
.cols-14 {
  grid-template-columns: repeat(14, 1fr);
  margin-bottom: 15px;
}
.col-span-14 {
  grid-column: span 14;
}
.cols-15 {
  grid-template-columns: repeat(15, 1fr);
  margin-bottom: 15px;
}
.col-span-15 {
  grid-column: span 15;
}
.rows-1 {
  grid-template-rows: repeat(1, auto);
}
.row-span-1 {
  grid-row: span 1;
}
.rows-2 {
  grid-template-rows: repeat(2, auto);
}
.row-span-2 {
  grid-row: span 2;
}
.rows-3 {
  grid-template-rows: repeat(3, auto);
}
.row-span-3 {
  grid-row: span 3;
}
.rows-4 {
  grid-template-rows: repeat(4, auto);
}
.row-span-4 {
  grid-row: span 4;
}
.rows-5 {
  grid-template-rows: repeat(5, auto);
}
.row-span-5 {
  grid-row: span 5;
}
.gap-5 {
  grid-gap: 5px;
}
.gap-10 {
  grid-gap: 10px;
}
.gap-15 {
  grid-gap: 15px;
}
.gap-20 {
  grid-gap: 20px;
}
.gap-25 {
  grid-gap: 25px;
}
.gap-30 {
  grid-gap: 30px;
}
.gap-35 {
  grid-gap: 35px;
}
.gap-40 {
  grid-gap: 40px;
}
.gap-45 {
  grid-gap: 45px;
}
.gap-50 {
  grid-gap: 50px;
}
.col-gap-5 {
  grid-column-gap: 5px;
}
.col-gap-10 {
  grid-column-gap: 10px;
}
.col-gap-15 {
  grid-column-gap: 15px;
}
.col-gap-20 {
  grid-column-gap: 20px;
}
.col-gap-25 {
  grid-column-gap: 25px;
}
.col-gap-30 {
  grid-column-gap: 30px;
}
.col-gap-35 {
  grid-column-gap: 35px;
}
.col-gap-40 {
  grid-column-gap: 40px;
}
.col-gap-45 {
  grid-column-gap: 45px;
}
.col-gap-50 {
  grid-column-gap: 50px;
}
.row-gap-5 {
  grid-row-gap: 5px;
}
.row-gap-10 {
  grid-row-gap: 10px;
}
.row-gap-15 {
  grid-row-gap: 15px;
}
.row-gap-20 {
  grid-row-gap: 20px;
}
.row-gap-25 {
  grid-row-gap: 25px;
}
.row-gap-30 {
  grid-row-gap: 30px;
}
.row-gap-35 {
  grid-row-gap: 35px;
}
.row-gap-40 {
  grid-row-gap: 40px;
}
.row-gap-45 {
  grid-row-gap: 45px;
}
.row-gap-50 {
  grid-row-gap: 50px;
}
.r-grid-start {
  justify-content: start;
}
.r-grid-end {
  justify-content: end;
}
.r-grid-center {
  justify-content: center;
}
.r-grid-stretch {
  justify-content: stretch;
}
.r-grid-around {
  justify-content: space-around;
}
.r-grid-between {
  justify-content: space-between;
}
.r-grid-even {
  justify-content: space-evenly;
}
.c-grid-start {
  align-content: start;
}
.c-grid-end {
  align-content: end;
}
.c-grid-center {
  align-content: center;
}
.c-grid-stretch {
  align-content: stretch;
}
.c-grid-around {
  align-content: space-around;
}
.c-grid-between {
  align-content: space-between;
}
.c-grid-even {
  align-content: space-evenly;
}
.r-items-start {
  justify-items: start;
}
.r-items-end {
  justify-items: end;
}
.r-items-center {
  justify-items: center;
}
.r-items-stretch {
  justify-items: stretch;
}
.c-items-start {
  align-items: start;
}
.c-items-end {
  align-items: end;
}
.c-items-center {
  align-items: center;
}
.c-items-stretch {
  align-items: stretch;
}
.r-self-start {
  justify-self: start;
}
.r-self-end {
  justify-self: end;
}
.r-self-center {
  justify-self: center;
}
.r-self-stretch {
  justify-self: stretch;
}
.c-self-start {
  align-self: start;
}
.c-self-end {
  align-self: end;
}
.c-self-center {
  align-self: center;
}
.c-self-stretch {
  align-self: stretch;
}
