body {
  background-color: darkslategrey;
}
.container {
  background-color: darkcyan;
  width: 560px;
  border-radius: 5px;
  padding: 15px;
}
.item {
  background-color: blueviolet;
  border-radius: 5px;
  padding: 15px;
}
