// out: ../css/mutant.css, sourcemap: false, compress: false

// Initial Container
.grid {
    margin:auto;
    &:extend(.item);
}

.grid-dense {
    &:extend(.grid);
    grid-auto-flow: dense;
}

.item { display: grid; }

// Loop calls
.generate-columns(15);

.generate-rows(5);

.gap(50);

.col-gap(50);

.row-gap(50);

// Columns
.generate-columns(@n, @i: 1) when (@i =< @n) {
    .cols-@{i} {
    grid-template-columns: repeat(@i, 1fr);
    //margin-bottom:15px;
    }
    .col-span-@{i} {
      grid-column: span @i;
    }
    .generate-columns(@n, (@i + 1));
}

// Rows
.generate-rows(@n, @i: 1) when (@i =< @n) {
    .rows-@{i} {
    grid-template-rows: repeat(@i, auto);
    //margin-bottom:15px;
    }
    .row-span-@{i} {
      grid-row: span @i;
    }
    .generate-rows(@n, (@i + 1));
}

// Grid Gap
.gap(@n, @i: 5, @p: 1) when (@i =< @n) {
    .gap-@{i} {
        grid-gap: (5px * @p);
    }
    .gap(@n, (@i + 5), (@p + 1));
}
.col-gap(@n, @i: 5, @p: 1) when (@i =< @n) {
    .col-gap-@{i} {
        grid-column-gap: (5px * @p);
    }
    .col-gap(@n, (@i + 5), (@p + 1));
}
.row-gap(@n, @i: 5, @p: 1) when (@i =< @n) {
    .row-gap-@{i} {
        grid-row-gap: (5px * @p);
    }
    .row-gap(@n, (@i + 5), (@p + 1));
}

// Alignment
.content-left { justify-content: start; }
.content-right { justify-content: end; }
.content-center { justify-content: center; }
.content-stretch-h { justify-content: stretch; }
.content-around-h { justify-content: space-around;; }
.content-between-h { justify-content: space-between;; }
.content-even-h { justify-content: space-evenly; }

.content-top-v { align-content: start; }
.content-bottom-v { align-content: end; }
.content-middle-v { align-content: center; }
.content-stretch-v { align-content: stretch; }
.content-around-v { align-content: space-around;; }
.content-between-v { align-content: space-between;; }
.content-even-v { align-content: space-evenly; }

.items-left { justify-items: start; }
.items-right { justify-items: end; }
.items-center { justify-items: center; }
.items-stretch-h { justify-items: stretch; }

.items-top { align-items: start; }
.items-bottom { align-items: end; }
.items-middle { align-items: center; }
.items-stretch-v { align-items: stretch; }

.self-left { justify-self: start; }
.self-right { justify-self: end; }
.self-center { justify-self: center; }
.self-stretch-h { justify-self: stretch; }

.self-top { align-self: start; }
.self-bottom { align-self: end; }
.self-middle { align-self: center; }
.self-stretch-v { align-self: stretch; }
