// out: ../css/style.css, sourcemap: false, compress: false

body {
    background-color: darkslategrey;
    font-family: sans-serif;
    color: darken(desaturate(ghostwhite, 70%), 20%);
}

.container {
    background-color:darkcyan;
    //width:860px;
    border-radius: 5px;
    //padding:15px;
}

.item {
    background-color: blueviolet;
    border-radius: 5px;
    //padding:15px;
}
